a {
    width: clamp(1 ,);
    width: clamp(1 - ,);
    width: clamp(1 - 1 ,);
    width: clamp(1 - 1 - ,);
    width: clamp(1 , 1);
    width: clamp(1 , - 1);
    width: clamp(1 , , 1);
    width: clamp(1 , , - 1);
}